@{
	ViewData["Title"] = "Login Page";
}

<section class="login-page gradient-custom">
	<div class="container">
		<div class="align-content-center">
			<section class="pb-4 gradient-custom">
				<div class="row d-flex justify-content-center mt-4">
					<div class="col-12 col-md-8 col-lg-6 col-xl-6">
						<div class="card bg-dark text-white" style="border-radius: 1rem;">
							<div class="card-body p-5 text-center">
								<div class="mb-md-5 mt-md-4 pb-5">
									<h2 class="fw-bold mb-2 text-uppercase">Добавление авто</h2>
									<p class="text-white-50 mb-5">Пожалуйста, введите марку и модель авто!</p>

									<form method="post" asp-area="Account" asp-controller="Home" asp-action="AddCar">
										<div class="form-outline form-white mb-4">
											<input name="Brand" id="typeLoginX" class="form-control form-control-lg">
											<label class="form-label" for="typeLoginX" style="margin-left: 0px;">Марка</label>
											<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div>
										</div>

										<div class="form-outline form-white mb-4">
											<input name="Model" id="typePasswordX" class="form-control form-control-lg">
											<label class="form-label" for="typePasswordX" style="margin-left: 0px;">Модель</label>
											<div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div>
										</div>

										<button class="btn btn-outline-white btn-lg px-5 gradient-custom" type="submit">Добавить</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>