@model IEnumerable<Asu19.Areas.Account.Models.UserCarInfo>
@{
    ViewData["Title"] = "Personal Page";
}

<div class="text-center">
    <h1>Здравствуйте, @User.Claims.ElementAt(1).Value</h1>
    <h2>Список ваших авто</h2>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">@item.Model @item.Brand</li>
        }
        <li class="list-group-item active" aria-current="true"><a href="/addcar">Добавить авто</a></li>
    </ul>
</div>
