html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../img/AVTO1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.gradient-custom {
    /* fallback for old browsers */
    background: rgb(254,193,7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(254,193,7));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(rgb(254,193,7))
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.carousel {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 800px; /* высота изображения */
    object-fit: cover;
}

.border-custom {
    border-radius: 3rem; 
    border:solid; 
    border-color: goldenrod;
}

.stroke {
    text-shadow: black 0 0 5px;
}

.car-list {
    max-height: 275px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.request-list {
    max-height: 205px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
