<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Asu19</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Asu19.styles.css" asp-append-version="true" />
</head>
<body class="gradient-custom">

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <!-- <a href="#" class="pull-left"><img src="icons/logo.png"></a> -->
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
                    <li><a href="/price" class="nav-link px-2 text-white">Услуги</a></li>
                    <li><a href="/about" class="nav-link px-2 text-white">О нас</a></li>
                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="text-end">
                        <h6>@User.Claims.ElementAt(1).Value</h6>
                        <button type="button" onclick="document.location='/profile'" class="btn btn-outline-light me-2">Профиль</button>
                        <button type="button" onclick="document.location='/logout'" class="btn btn-warning">Выйти</button>
                    </div>
                }
                else
                {
                    <div class="text-end">
                        <button type="button" onclick="document.location='/login'" class="btn btn-outline-light me-2">Логин</button>
                        <button type="button" onclick="document.location='/registration'" class="btn btn-warning">Регистрация</button>
                    </div>
                }
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="footer text-white bg-dark">
        <div class="container">
            &copy; 2022 - Asu19 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
