@{
    ViewData["Title"] = "О нас";
}
<div class="container marketing mt-5 text-white stroke">
    <hr class="featurette-divider">

    <div class="row featurette stroke">
        <div class="col-md-7 text-white">
            <h2 class="featurette-heading fw-normal lh-1">Где мы находимся</h2>
            <p class="lead">Наш автосервис находится по адресу: улица Ленина, 73, Чайковский, Пермский край, 617764 </p>
            <p>E-mail: autoservice@gaika.com</p>
            <p>Тел. +7 (34241)7-91-20</p>
            <p>Моб. +7 -999-128-04-71</p>
        </div>

        <div class="d-flex col-md-5 ">
            <div class="d-inline-flex border-custom" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/chaykovskiy_filial_pnipu/1007272225/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Чайковский филиал ПНИПУ</a><a href="https://yandex.ru/maps/20243/chaikovsky/category/university_college/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Чайковском</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUZFNSG8B" width="600" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>

    </div>
</div>
