@model IEnumerable<Asu19.Database.EmployeeService>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>HomePage</h1>
    @foreach (var item in Model)
    {
        <h2>@item.EmployeeId @item.ServiceId</h2>
    }
</div>
