@model IEnumerable<Asu19.Database.Services>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Домашняя страница</h1>
    @foreach (var item in Model)
    {
        <h2>@item.Name - @item.Price рублей</h2>
    }
</div>
