@model IEnumerable<Asu19.Database.Services>
@{
    ViewData["Title"] = "Главная";
}

<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" width="800" height="600">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>

        <div class="carousel-inner text stroke">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/img/First.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Самое современное оборудование</h1>
                        <p>Наши мастерские оформлены по последнему слову техники</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/Second.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Мы работаем с 2007 года</h1>
                        <p>Мы находимся на рынке более 10 лет! За это время мы получили большое количесвто опыта и являемся лидемари в своем деле!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/Third.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Наши специалисты - лучшие во всем городе!</h1>
                        <p>Ежегожно работники нашего автосервиса отправляются на обучение и оттачивают своё мастерство и навыки!</p>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing mt-5 text-white stroke">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 ">
                <h2 class="featurette-heading fw-normal lh-1 ">Используем только европейские материалы</h2>
                <p class="lead">
                    Мы используем расходные материалы высокого качества из Европы, которые рекомендуют заводы-производители.
                    Использование Китайских материалов может приводить к различным проблемам.
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle" width="250" height="250" src="/img/euro.png" alt="Euro" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Максимальная экономия Вашего времени!</h2>
                <p class="lead">Все процедуры выполняются в самые краткие сроки, без потери качества обслуживания!</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle" width="250" height="250" src="/img/clock.png" alt="Clock" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">   Индивидуальный подход к каждому клиенту!</h2>
                <p class="lead">Мы постараемся найти идельное решение для Вас, которое будет устраивать Вас и Ваши запросы</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-3" width="250" height="250" src="/img/community.png" alt="Marketing" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
</main>