@{
    ViewData["Title"] = "Услуги";
}
<h1 class="text-center mt-3">Наши услуги!</h1>
<div class="container py-3">
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-3">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm text-white bg-dark border-custom">
                    <div class="card-header py-3 ">
                        <h4 class="my-0 fw-normal">Покраска автомобиля</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">49 990 ₽</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Оттенок подбирает профессиональный колорист</li>
                            <li>Используем компьютерный подбор автоэмалей</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm text-white bg-dark border-custom">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Полировка</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">9 990 ₽</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Восстановительная или абразивная полировка кузова возродит первозданный вид Вашего ЛКП</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm text-white bg-dark border-custom">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Химчистка</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">19 990 ₽</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Получите идеальную чистоту салона, сравнимую с новым авто</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-5">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm text-white bg-dark border-custom">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Полная диагностика</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">69 990 ₽</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Полный осмотр Вашего автомобиля с учетом всех мелочей</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm text-white bg-dark border-custom">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Замена масла</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">29 990 ₽</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Используем импортные расходники высокого качества</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm text-white bg-dark border-custom">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Балансировка колес</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">9 990 ₽</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Отбалансируем Ваши колеса всего за 15 минут, как сказал бы Танос - Идеальный баланс</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>